a {
  /* text-decoration-style: none; */
  color: black;
  text-decoration-line: none;
}
select {
  /* -moz-appearance: none; */
  /* -webkit-appearance: none; */
  /* border: none; */
  /* outline: none; */
  font-size: 10pt;
  padding: 10pt 10pt;
  border: 0ch;
  /* border-radius: 5pt; */
  background-color: white;
  /* color: white; */
}
select:after {
  /* content: "";
  display: block; */
  border: 0ch;
}

/*HEADER*/
.Header-block {
  width: 100%;
  padding-top: 15pt;
}
.Header-block .Category-block {
  font-family: Arial, Helvetica, sans-serif;
  font-style: none;
  font-size: 15pt;
  width: 85%;
  float: left;
  cursor: pointer;
}
.Header-block .Category-block span {
  margin: 20pt;
}
.Header-block .Category-block span:hover {
  color: green;
}
.Header-block .Category-block .Selected {
  color: green;
  padding-bottom: 15pt;
  padding-right: 10pt;
  padding-left: 10pt;
  border-bottom: solid 2px green;
}
.Header-block .Currency-select {
  width: 5%;
  float: left;
}
.Header-block .Redirect-button {
  width: 5%;
  float: right;
}

.Redirect-button {
  background-color: white;
  padding: 5pt;
  font-size: 20pt;
  margin-left: 2pt;
  margin-top: 2pt;
}
.Redirect-button img {
  width: 20px;
  height: 20px;
}


/*PRODUCT OVERVIEW MAIN*/
.Product-overview-main {
  width: 22%;
  float: left;
  padding: 2%;
  min-height: 60vh;
  margin: 3%;
}
.Product-overview-main:hover {
  box-shadow: 0px 0px 30px grey;
}
.Product-overview-main img {
  width: 300px;
  /* height: 300px; */
  float: left;
  padding-bottom: 4pt;
}
.Product-overview-main span {
  width: 100%;
  float: left;
  padding-top: 15pt;
  font-size: 13pt;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Product-overview-main .Price {
  font-weight: bold;
}

/* PRODUCT PAGE */
.Product-info {
  margin-top: 30pt;
}
.Preview-block {
  width: 60%;
  float: left;
  cursor: pointer;
}
.Little-img {
  padding: 5pt;
  margin: 5pt;
  margin-left: 20pt;
  border: solid 2px white;
}
.Little-img:hover {
  border: solid 2px green;
}
.Info-block {
  width: 40%;
  float: left;
}
.Info-block span {
  width: 100%;
  float: left;
}
#title {
  font-size: 20pt;
  font-weight: 400;
}
#sub-title {
  font-size: 15pt;
  font-weight: 200;
  margin-top: 10pt;
  margin-bottom: 10pt;
}
#info {
  font-weight: 400;
  padding-top: 10pt;
  padding-bottom: 10pt;
}
#size {
  float: left;
  padding: 8pt;
  margin: 2pt;
  cursor: pointer;
}
#size:hover {
  background-color: black;
  color: white;
}
#color {
  float: left;
  padding: 14pt;
  margin: 2pt;
  border: solid 2px green;
  cursor: pointer;
}
#price {
  float: left;
  font-weight: 500;
  font-size: 20pt;
}
#price img {
  padding-right: 5pt;
}
.Add-remove-button {
  float: left;
  width: 100%;
  margin-top: 30pt;
}
.Add-remove-button button {
  font-size: 20pt;
  padding: 5pt 50pt;
  border: none;
  background-color: green;
  color: white;
}