a {
  /* text-decoration-style: none; */
  color: black;
  text-decoration-line: none;
}
select {
  /* -moz-appearance: none; */
  /* -webkit-appearance: none; */
  /* border: none; */
  /* outline: none; */
  font-size: 10pt;
  padding: 10pt 10pt;
  border: 0ch;
  /* border-radius: 5pt; */
  background-color: white;
  /* color: white; */
}
select:after {
  /* content: "";
  display: block; */
  border: 0ch;
}

/*HEADER*/
.Header-block {
  width: 100%;
  padding-top: 15pt;
}
.Header-block .Category-block {
  font-family: Arial, Helvetica, sans-serif;
  font-style: none;
  font-size: 15pt;
  width: 85%;
  float: left;
  cursor: pointer;
}
.Header-block .Category-block span {
  margin: 20pt;
  margin-left: 40pt;
}
.Header-block .Category-block span:hover {
  color: rgb(25, 177, 25);
}
.Header-block .Category-block .Selected {
  color: rgb(25, 177, 25);
  padding-bottom: 15pt;
  padding-right: 10pt;
  padding-left: 10pt;
  border-bottom: solid 2px rgb(25, 177, 25);
}
.Header-block .Currency-select {
  width: 5%;
  float: left;
}
.Header-block .Redirect-button {
  width: 5%;
  float: right;
}

.Redirect-button {
  background-color: white;
  padding: 5pt;
  font-size: 20pt;
  margin-left: 2pt;
  margin-top: 2pt;
}
.Redirect-button img {
  width: 27px;
  height: 27px;
}


/*PRODUCT OVERVIEW MAIN*/
.Main-page-overview {
  padding-left: 40pt;
}
.Product-overview-main {
  width: 22%;
  float: left;
  padding: 2%;
  min-height: 60vh;
  margin: 3%;
}
.Product-overview-main:hover {
  box-shadow: 0px 0px 30px grey;
}
.Product-overview-main img {
  width: 300px;
  /* height: 300px; */
  float: left;
  padding-bottom: 4pt;
}
.Product-overview-main span {
  width: 100%;
  float: left;
  padding-top: 15pt;
  font-size: 13pt;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Product-overview-main .Price {
  font-weight: bold;
}

/* PRODUCT PAGE */
.Product-info {
  margin-top: 30pt;
}
.Preview-block {
  width: 60%;
  float: left;
  cursor: pointer;
}
.Little-img {
  padding: 5pt;
  margin: 5pt;
  margin-left: 20pt;
  border: solid 2px white;
}
.Little-img:hover {
  border: solid 2px rgb(25, 177, 25);
}
.Info-block {
  width: 40%;
  float: left;
}
.Info-block span {
  width: 100%;
  float: left;
}
#title {
  font-size: 20pt;
  font-weight: 400;
}
#sub-title {
  font-size: 15pt;
  font-weight: 200;
  margin-top: 10pt;
  margin-bottom: 10pt;
}
#info {
  font-weight: 400;
  padding-top: 10pt;
  padding-bottom: 10pt;
}
#size {
  float: left;
  padding: 8pt;
  margin: 2pt;
  cursor: pointer;
}
#size:hover {
  background-color: black;
  color: white;
}
#color {
  float: left;
  padding: 14pt;
  margin: 2pt;
  border: solid 2px rgb(25, 177, 25);
  cursor: pointer;
}
#price {
  float: left;
  font-weight: 500;
  font-size: 20pt;
}
#price img {
  padding-right: 5pt;
}
.Add-remove-button {
  float: left;
  width: 100%;
  margin-top: 30pt;
}
.Add-remove-button button:hover {
  background-color: rgb(42, 194, 42);
}
.Add-remove-button button {
  font-size: 20pt;
  padding: 5pt 50pt;
  border: none;
  background-color: rgb(25, 177, 25);
  color: white;
  cursor: pointer
}

/* CART PAGE */
.Cart-page {
  margin-left: 40pt;
}
.Cart-page h1 {
  font-weight: 400;
  padding: 20pt 0;
}
.Cart-info-block #price {
  font-size: 15pt;
}
.Cart-info-block .Info-block {
  padding: 20pt 0;
  border-top: solid 2px grey;
  border-bottom: solid 2px grey;
  width: 95%;
}
.Cart-info-block .Info-block #left-side {
  width: 80%;
  float: left;
}
.Cart-info-block .Info-block #right-side {
  width: 20%;
  float: left;
}
.Span-block-cart {
  width: 20%;
  float: left;
}
.Span-block-cart span {
  font-size: 15pt;
}
#plus {
  font-size: 20pt;
  font-weight: 100;
  width: 50%;
  padding: 3pt 5pt;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
}
#minus {
  font-size: 20pt;
  font-weight: 100;
  width: 50%;
  /* padding: 0pt 5pt; */
  padding: 3pt 5pt;
  text-align: center;
  border: 1px solid black;  
  cursor: pointer;
}
#count {
  text-align: center;
  width: 80%;
  padding: 60pt 0;
}
#right-side img {
  width: 80%;
  float: left;
  /* padding-top: 10pt;
  padding-left: 10pt; */
  cursor: pointer;
}

.Order-block {
  width: 100%;
  float: left;
  font-size: 15pt;
  font-weight: 200;
  padding-top: 30pt;
}
.Order-block span {
  margin-bottom: 10pt;
}
#tax {
  width: 100%;
  float: left;
}
#tax span {
  font-weight: 500;
}
#tax img {
  margin-left: 40pt;
}
#quantity {
  width: 100%;
  float: left;
}
#quantity span {
  margin-left: 35pt;
  font-weight: 500;
}
#total {
  width: 100%;
  float: left;
}
#total img {
  margin-left: 62pt;
}
#total span{
  font-weight: 500;
}
#order-button {
  float: left;
  background-color:rgb(25, 177, 25);
  padding: 10pt;
  margin-top: 10pt;
  width: 200pt;
  text-align: center;
  color: white;
  font-weight: 400;
  cursor: pointer;
}
#order-button:hover {
  background-color: rgb(42, 194, 42);
}
#cart-count {
  font-size: 8pt;
  background-color: black;
  padding: 2pt 5pt;
  border-radius: 50%;
  color: white;
  float: right;
  margin-right: 15pt;
  margin-bottom: 10pt;
}